# === Общие настройки ===
APP_NAME="" 				# Provide a value for APP_NAME
APP_VERSION="" 				# Provide a value for APP_VERSION
DEBUG="" 				# Provide a value for DEBUG
ENVIRONMENT="" 				# Provide a value for ENVIRONMENT

# === База данных ===
POSTGRES_HOST="" 				# Provide a value for POSTGRES_HOST
POSTGRES_PORT="" 				# Provide a value for POSTGRES_PORT
POSTGRES_USER="" 				# Provide a value for POSTGRES_USER
POSTGRES_PASSWORD="" 				# Provide a value for POSTGRES_PASSWORD
POSTGRES_DB="" 				# Provide a value for POSTGRES_DB

# === JWT ===
SECRET_KEY="" 				# Provide a value for SECRET_KEY
ALGORITHM="" 				# Provide a value for ALGORITHM
ACCESS_TOKEN_EXPIRE_MINUTES="" 				# Provide a value for ACCESS_TOKEN_EXPIRE_MINUTES

